  .log-form {
    width: 40%;
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 80%;
    -webkit-transform: translate(-70%, -50%);
    -moz-transform: translate(-70%, -50%);
    -o-transform: translate(-70%, -50%);
    -ms-transform: translate(-70%, -50%);
    transform: translate(-80%, -50%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  @media (max-width: 40em) {
    .log-form {
      width: 95%;
      position: relative;
      margin: 2.5% auto 0 auto;
      left: 0%;
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
  }
  .log-form form {
    display: block;
    width: 100%;
    padding: 2em;
  }
  .log-form h2 {
    color: #001112;
    font-weight: 600;
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background:#88BFB5;
    width: 100%;
    text-transform: uppercase;
    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
    border: 1px solid #88BFB5;
    margin: 0;
    border-radius: 8px 8px 0px 0px;
  }
  .log-form input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: 0.5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
  }
  .log-form input:focus {
    outline: none;
  }
  .log-form .btn {
    display: inline-block;
    background: #1ba0a9;
    border: 2px solid #1ba0a9;
    padding: 0.5em 2em;
    color: white;
    margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }
  .log-form .btn:hover {
    background: #068891;
    border: 2px solid #1ba0a9;
    /*  background: linear-gradient(0deg, rgba(5,107,114,1) 95%, rgba(0,212,255,0.75) 99%, rgba(5,107,114,1) 100%); */
  }
  .log-form .btn:active {
    background: #1ba0a9;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  }
  .log-form .btn:focus {
    outline: none;
  }
  .log-form .forgot, .log-form .register {
    color: #1ba0a9;
    line-height: 0.5em;
    position: relative;
    top: 2.5em;
    text-decoration: none;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    float: right;
  }
  .log-form .forgot:hover {
    color: #1ba0a9;
  }

  .log-form .register {
    margin-right: 15px;
  }