<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Perscholas LMS - Login</title>

  <th:block th:replace="fragments/styles :: common"></th:block>

</head>
<body>
    <div class="header_title" style="border: 0;">
      <div class="site_title"><i class="fa fa-cube"></i>
    <span>Perscholas LMS</span></div>
</div>
<div class="log-form">
  <h2>Login to your account</h2>
  <form th:action="@{/login}" method="post" id="loginform">
    <input type="text" placeholder="Username" name="username" />
    <input type="password" placeholder="Password" name="password" />
    <button type="submit" class="btn" onclick="document.getElementById('loginform').submit();">Login</button>
  </form>
</div>

</body>
</html>